body {
    background-color: blueviolet;
    display: flex;            
    justify-content: center; 
    align-items: center;  
    flex-direction: column;    
    height: 100vh;            
    margin: 0;                
}


form {
    background-color: rgb(243, 240, 240);  
    padding: 5rem;            
    border-radius: 2rem;      
    width: 30rem;             
}

h1 {
    color: aliceblue;
}

